// $background:rgb(155, 186, 197);
// $backgroundLoading: rgb(155, 186, 197);
// $icons:rgb(235, 69, 95);
// $text:black;
// $hover:rgba(196, 153, 186, 0.556);






$backgroundDark: rgba(26, 24, 24, 0.801);
$backgroundLoadingDark:rgb(26, 24, 24);
$iconsDark: rgba(240, 235, 239, 0.887);
$textDark: rgb(219, 224, 235);
$hoverDark: rgba(178, 178, 178, 0.501);

$background: rgb(247, 242, 242);
$backgroundLoading: rgb(247, 242, 242);
$icons: rgba(98, 82, 97, 0.887);
$text: rgb(60, 64, 72);
$hover: rgba(178, 178, 178, 0.501);

